* {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

:root {
    --lighter-color: #F0FCFF;
    --darkest-color: #1E1C23;
    --bg-code-color: #e7f4fc;
    --border-code-color: #d2e6f0;
    --darker-border-code-color: #a3becc;
    --code-text-color: #3d4049;
    --html-color: #E1D3F6;
    --css-color: #FFC0BC;
    --js-color: #BDDFF3;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--lighter-color);
    font-size: 16px;
}

body::-webkit-scrollbar {
    width: 14px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--lighter-color);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--darkest-color);
    /* color of the scroll thumb */
    border-radius: 20px;
    /* creates padding around scroll thumb */
    border: 3px solid var(--lighter-color);
}

/* header */

.logo {
    margin: 17px 0px;
    padding-left: 36px;
    position: fixed;
    top: 0;
    width: 100vw;
}

.logo a {
    background-color: var(--lighter-color);
    border: 2px solid var(--darkest-color);
    border-radius: 15px;
    column-gap: 10px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 5px 0px;
    width: 141px;
}

.logo-text {
    color: var(--darkest-color);
    font-size: 17px;
    font-weight: 600;
    line-height: 12px;
    margin: auto 0px;
}

/* nav */

#sidebar {
    background-color: var(--bg-code-color);
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    padding: 12px;
    position: fixed;
    transition: all 0.5s;
    box-sizing: border-box;
    min-width: 72px;
}

#side-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item {
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item a {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .material-symbols-outlined {
    color: var(--darkest-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.side-item.active {
    background-color: var(--border-code-color);
}

.side-item:hover:not(.active) {
    background-color: var(--lighter-color);
}

#menu-btn {
    display: flex;
    justify-content: center;
    padding: 12px 0px 24px;
    cursor: pointer;
}

.item-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0px;
}

#sidebar.open-sidebar {
    min-width: 15%;
}

#sidebar.open-sidebar .item-description {
    width: 100px;
    height: auto;
}

#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}

@media (max-width: 768px) {
    nav .material-symbols-outlined {
        width: 16px;
        height: 16px;
    }
}

/* main */

main {
    padding: 0px 20px 0px 92px;
}

::selection {
    background-color: var(--border-code-color);
}

h1 {
    color: var(--darkest-color);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    padding: 0px 20px;
    text-align: center;
}

h2 {
    color: var(--darkest-color);
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

h3 {
    color: var(--darkest-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0px 15px;
}

h4 {
    color: var(--darkest-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 20px;
}


p {
    color: var(--darkest-color);
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

a {
    color: var(--darkest-color);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/* hero */

#hero {
    max-width: 900px;
    margin: auto;
    padding: 211px 0px 160px;
}


.hero-subtitle {
    color: var(--darkest-color);
    padding: 10px 20px 0px;
    text-align: center;
}

.hero-buttons ul {
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin-top: 30px;
}

.hero-buttons li {
    transition: 0.3s;
}

.hero-buttons li:nth-child(1) {
    background-color: var(--html-color);
    border: 2px solid var(--darkest-color);
    border-radius: 20px;
}

.hero-buttons li:nth-child(2) {
    background-color: var(--css-color);
    border: 2px solid var(--darkest-color);
    border-radius: 20px;
}

.hero-buttons li:nth-child(3) {
    background-color: var(--js-color);
    border: 2px solid var(--darkest-color);
    border-radius: 20px;
}

.hero-buttons li:hover {
    background-color: var(--lighter-color);
}

.hero-buttons a {
    display: flex;
    font-weight: 700;
    line-height: 11px;
    padding: 8px 30px;
}

/* footer */

footer {
    background-color: var(--border-code-color);
}

footer div {
    margin: auto;
    max-width: 900px;
    padding: 20px 40px 20px 112px;
}

footer img {
    display: block;
    margin: 0px auto 10px;
    width: 20px;
}

footer p {
    text-align: center;
    font-weight: 500;
}

/* homepage */

.about, .more {
    color: var(--darkest-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto 100px;
    max-width: 900px;
    padding: 0px 40px 0px;
}

.about h2, .more h2 {
    width: 130px;
    margin-right: 50px;
}

.about p, .more p{
    max-width: 600px;
}

.about a {
    background-color: var(--html-color);
    color: var(--darkest-color);
    text-decoration: underline;
}

.more a {
    background-color: var(--js-color);
    color: var(--darkest-color);
    text-decoration: underline;
}

.content-cards {
    max-width: 900px;
    margin: auto;
    padding: 0px 40px;
}

.content-cards h2, .subtitle{
    text-align: center;
}

.subtitle{
    max-width: 600px;
    margin: auto;
    margin-bottom: 15px;
}

.cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0px auto 80px;
    padding: 20px 0px;
}

@media (max-width: 830px) {
    .cards {
        flex-direction: column;
    }

    .html-card, .css-card, .js-card {
        margin: auto;
    }
}

.html-card, .css-card, .js-card {
    background-color: var(--bg-code-color);
    border: 1px solid var(--border-code-color);
    border-radius: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 25px;
    transition: 0.3s;
}

.html-card:hover, .css-card:hover, .js-card:hover {
    background-color: var(--lighter-color);
    border: 1px solid var(--darker-border-code-color);
}

.button-area {
    display: flex;
    justify-content: end;
    padding-top: 10px;
}

.arrow-button:hover {
    animation-duration: 0.5s;
    animation-name: move-left;
}

@keyframes move-left {
    from {
      padding-right: 20px;
    }
  
    to {
      padding-right: 0px;
    }
}

/* contents */

.html-content,
.css-content,
.js-content {
    border: 2px solid var(--darkest-color);
    border-radius: 20px;
    box-sizing: border-box;
    color: var(--darkest-color);
    margin: 0px auto 80px;
    max-width: 900px;
    padding: 10px 40px 30px;
}

.new-topic {
    padding-top: 25px;
}

.html-content mark {
    background-color: var(--html-color);
}

.structure-html,
.section-body {
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 14px;
    margin: auto;
    max-width: 600px;
    padding: 0px 10px 10px;
}

.structure-head,
.structure-body,
.section-no-content,
.section-article,
.section {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0px 10px 10px;
    padding: 0px 10px;
}

.section-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin: 0px 10px 10px;
}

.section-aside,
.section-main {
    border: 1px solid black;
    padding: 0px 10px;
}

.section-main {
    background-color: var(--html-color);
    width: 65%;
}

.structure-title,
.structure-tags {
    background-color: var(--html-color);
    border: 1px solid black;
    margin: 0px 10px 10px;
    padding: 0px 10px;
}

.topics {
    font-family: 'Roboto', sans-serif;
    margin: 0px 40px;
}

.code-result-box {
    border: 1px solid var(--border-code-color);
    border-radius: 5px;
    margin: 10px auto 10px;
    padding: 0px 10px;
}

.code-box {
    background-color: var(--bg-code-color);
    border: 1px solid var(--border-code-color);
    border-radius: 5px;
    margin: 10px auto 10px;
    transition: 0.3s;
}

.code-box:hover {
    background-color: var(--lighter-color);
    border: 1px solid var(--darker-border-code-color);
}

.code-box p {
    color: var(--code-text-color);
    font-family: 'Fira Code', monospace;
    font-size: 13px;
    margin: 20px;
}

.result-box {
    background-color: var(--lighter-color);
    border: 1px solid var(--darker-border-code-color);
    border-radius: 5px;
    margin: 10px auto 10px;
    padding: 20px;
}

.tab-effect {
    padding-left: 20px;
}

.result-box hr {
    color: var(--code-text-color);
    margin: 20px 0px 0px;
}

.result-box details {
    color: var(--code-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.result-box img,
.result-box figcaption {
    display: block;
    margin: auto;
    max-width: 300px;
    text-align: center;
    width: 100%;
}

.result-box figcaption {
    color: var(--code-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    padding: 10px 0px 0px;
}

.result-box ol {
    color: var(--code-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    padding-left: 20px;
}

.result-text {
    color: var(--code-text-color);
    font-size: 14px;
}

.table-example {
    background-color: white;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin: auto;
}

.table-example,
.table-example th,
.table-example td {
    border: 1px solid rgb(161, 161, 146);
}

.table-example th,
.table-example td {
    font-size: 14px;
    padding: 10px;
    text-align: center;
    width: 120px;
}

.css-content mark {
    background-color: var(--css-color);
}


.result-id {
    color: blue;
    font-size: 14px;
}

.result-class {
    color: red;
    font-size: 14px;
}

.result-before-example,
.result-first-letter-example,
.result-first-line-example {
    color: var(--code-text-color);
    font-size: 14px;
}

.result-before-example::before,
.result-before-example::after {
    content: "★";
}

.result-first-letter-example::first-letter {
    font-size: 16px;
    font-weight: 500;
}

.result-first-line-example::first-line {
    color: blue;
    font-variant: small-caps;
}

.box-css-model {
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 14px;
    margin: auto;
    max-width: 300px;
    padding: 0px 10px 10px;
    text-align: center;
}

.border-box,
.padding-box {
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0px 10px 10px;
    padding: 0px 10px 10px;
}

.border-box {
    background-color: var(--border-code-color);
}

.padding-box {
    background-color: var(--lighter-color);
}

.content-box {
    background-color: var(--css-color);
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0px 10px 10px;
    padding: 20px 10px 20px;
}